<%- include('includes/head') %>
</head>
<body>
    <%- include('includes/header.ejs') %>
    <div class="mb-2 text-center">
        <h1>error 404 </h1>
        <br/>
        <a href="/">back to home</a>
    </div>
    
<%- include('includes/footer') %>