<%- include('./includes/head.ejs') %>

</head>
<body>
    <%- include('./includes/header.ejs') %>

    <div class="container">
        <div>
            <a href="/admin">admin</a>
            <br/>
            <a href="/auth">auth</a>
        </div>
    </div>
<%- include('./includes/footer') %></body>  