body{
    direction: rtl;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
header{
    background-color: #2B94D8;
    padding: 1px;
}
header nav ul{
    list-style: none;
    display: flex;
}
header a{
    color: #fff;
    padding: 5px;
    text-decoration: none;
    margin: 0 10px;
}
header a:hover{
    color: #331B4F;
}
.footer{
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    color: #331B4F;
    background-color: #ADD9D8;
}
.text-center{
    text-align: center;
}
.mb-2{
    margin-bottom: 2em;
}
.container{
    margin: 2em 0;
    padding: 0 2em;
}
.row{
    display: flex;
}
.image-container img{
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.btn-link{
    text-align: center;
    color: #555;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.4s;
    border: 1px solid #555;
    padding: 5px 10px;
    margin: 20px auto;
    display:block;
    background-color: #eee;
    font-weight: 600;
    max-width: 180px;
    cursor: pointer;
}
.btn-link:hover{
    color: #fff;
    background-color: #555;

}
.requestPatient,.requestBody{
    border-radius: 6px;
    border: 1px solid #555;
    padding: 10px;
    margin: 5px 0;
}
.requestPatient{
    margin-bottom: 50px;
}
.textarea{
    box-sizing: border-box;
    width: 100%;
    min-height: 180px;
    padding: 10px;
}
.alert{
    color: red;
    border: 1px dashed red;
    border-radius: 3px;
    padding: 10px ;
    text-align: center;
}
.font-12{
    font-size: 12px;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    direction: ltr;
  }
  
  .table td,.table th {
    border: 1px solid #555;
    padding: 8px;
  }
  .table tr:nth-child(even) {
    background-color: #dddddd;
  }
.pagenation >a {
    text-decoration: none;
    padding: 5px;
    margin-top: 20px;
    display: inline-block;
    color: #555;
    background-color: #eee;
    margin-left: 10px;
    border-radius: 5px;
}
.pagenation >a:hover{
    background-color: #fff;
    box-shadow: 0 0 5px #555;
}